

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2rem;  
    height: 100vh;
    background-color: honeydew;
    color: #69beff;
  }

#counter{
 font-size:7rem;
}
  

#button_wrapper{
    display:flex;
    gap: 1rem;
}
  .button {
    background-color: #e61818;
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out,
         transform 50ms ease-in-out;
  }

  .addbutton {
  background-color: #1ab071;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.negative {
    color:red;
    
}

.positive {
    color: green;
    
}

